
<!-- TITLE -->
<mat-card class="mb-40">
    <h1>
        <mat-icon class="ico-lg">home</mat-icon>
        Home
    </h1>
</mat-card>
    

<mat-card>
    <mat-card-content>

<!-- START LINKS -->
<div>
    <div routerLink="//comunis" routerLinkActive="active">Link to List Comuni</div>
</div>

<div>
    <div routerLink="//regions" routerLinkActive="active">Link to List Region</div>
</div>

<div>
    <div routerLink="//regionses" routerLinkActive="active">Link to List </div>
</div>


<!-- END LINKS -->
    </mat-card-content>

</mat-card>